* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 10px;
    font-size: 20px;
}

.dropdown-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: absolute;
    min-inline-size: 100px;
}

.dropdown:hover {
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}
