/*
culori:
#222831
#393E46
#00ADB5
#EEEEEE

*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #222831;
}

.parallax {
    background: rgba(0, 0, 0, 0.6) url("./../images/background-parallax.jpeg");
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.title {
    text-align: center;
    color: #EEEEEE;
}

#title-main {
    font-size: 7em;
    animation: titlu;
    animation-duration: 3s;
}

#subtitle {
    font-weight: 100;
    font-size: 3.5em;
    animation: subtitlu;
    animation-duration: 3s;
    animation-delay: -.5s;
}

#join-link {
    font-size: 3em;
    font-weight: 300;
    color: #EEEEEE;
    animation: text-dreapta;
    animation-duration: 3s;
}

.box-under-title {
    padding: 70px 0;
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-under-title .items {
    text-align: justify;
    padding: 0 20px;
    display: inline-block;
}

.item-1 {
    border-right: 1px solid #393E46;
}

.animatie-dreapta-1 {
    animation: text-dreapta;
    animation-duration: 2s;
}

.animatie-dreapta-2 {
    animation: text-dreapta;
    animation-duration: 2s;
    animation-delay: 1s;
}

.animatie-dreapta-3 {
    animation: text-dreapta;
    animation-duration: 2s;
    animation-delay: 2s;
}

.animatie-stanga-1 {
    animation: text-stanga;
    animation-duration: 2s;
}

@keyframes titlu {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(15%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes subtitlu {
    20% {
        font-weight: 300;
    }

    40% {
        font-weight: 400;
    }

    60% {
        font-weight: 700;
    }

    80% {
        font-weight: 400;
    }

    100% {
        font-weight: 300;
    }
}

@keyframes text-dreapta {
    0% {
        transform: translate(-50%);
    }

    50% {
        transform: translate(15%);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes text-stanga {
    0% {
        transform: translate(50%);
    }

    50% {
        transform: translate(-15%);
    }

    100% {
        transform: translate(0);
    }
}

@media only screen and (max-width: 768px) {

    .title {
        margin-top: 250px;
    }

    #title-main {
        font-size: 4em;
    }
    
    #subtitle {
        font-size: 2.5em;
    }
    
    #join-link {
        font-size: 2.35em;
    }

    .box-under-title {
        display: block;
    }

    .item-1 {
        border-right: 0;
        margin-bottom: 35px;
    }

}

@media only screen and (max-width: 450px) {
    .title {
        margin-top: 125px;
    }

    #title-main {
        font-size: 3em;
    }
    
    #subtitle {
        font-size: 2em;
    }
    
    #join-link {
        font-size: 1.85em;
    }

}