body {
    margin: 0;
    box-sizing: border-box;
}

#content {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    width: 30vw;
}

#form div {
    margin: 10px;
}

.error {
    color: red;
}

#loggedIn {
    display: none;
}
